[submodule "qa-backend"]
    path = qa-backend
    url = https://gitlab.expertflow.com/qa-execution/qa-backend

[submodule "qa-test-execution-dashboard"]
    path = qa-test-execution-dashboard
    url = https://gitlab.expertflow.com/qa-execution/qa-dashboard
