[submodule "qa-backend"]
    path = qa-backend
    url = https://github.com/farhanmaqbool89/qa-backend

[submodule "qa-test-execution-dashboard"]
    path = qa-test-execution-dashboard
    url = https://github.com/farhanmaqbool89/qa-dashboard
